body {
  font-family: "Copperplate Gothic", monospace;
  text-align: center;
  background-image: url('C:\Users\jureg\OneDrive\Ãrea de Trabalho\Estudos\Projeto site\alura\secret-number\src\1.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center below;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #FFD700;
  margin: 0 0 5px;
  font-size: 38px;
}

.page-subtitle {
  color: #FFD700;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 350px;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
